* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-size: 16px;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
}

.titulo {
  font-size: 34px;
  text-align: center;
  margin: 30px;
}

.btn {
  background: #ff0000;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}

.cards .card img {
  width: 100%;
  height: 100%
}

img {
  width: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  /* align-items: center; */
}

.cards .card {
  width: calc(50% - 20px);
  height: 230px;
  background: #fff;
  margin: 10px 10px;
  display: flex;
  align-items: center;
}

.card img.active {
  border: 5px solid #ff0000;
}

.card img.active1 {
  visibility: hidden;
}

.cards .left-cards, .cards .right-cards {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.popup {
  width: 70%;
  height: 70%;
  background: #506fc4;
  border-radius: 50px;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.overlay {
  background: transparent;
  display: none;
  /* opacity: 0.6; */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
  visibility: hidden;
  z-index: -1;
}


.popup h1 {
  font-size: 54px;
  color: #000;
  text-align: center;
}

.overlay.active {
  display: flex;
  background: #000;
  z-index: 9999;
  visibility: visible;
}

@media screen and (max-width: 500px) {
  .cards .card {
    width: 100%;
  }
}